<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--id  getObject方法返回的对象的标识
        class   factoryBean的实现类-->
    <bean id="my" class="com.xcx.ioc_04.MyFactoryBean" />
</beans>