<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xcx.mapper.ScheduleMapper">
    
    <select id="queryAll" resultType="schedule">
        select * from schedule
    </select>
    
    <delete id="delete">
        delete from schedule where id = #{id}
    </delete>
    
    <insert id="save">
        insert into schedule(title, completed) values(#{title}, #{completed})
    </insert>

    <update id="update">
        update schedule set title = #{title}, completed = #{completed} where id = #{id}
    </update>

</mapper>